<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous" />

    <!-- slide css start -->
    <link rel="stylesheet" type="text/css" href="~/Content/prj/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/prj/slick-theme.css" />
    <!-- slide css end -->

    <link rel="stylesheet" href="~/Content/prj/style.css" />

    <title>新油氣設施管理資訊系統</title>

    <script>
        window.app = window.app || {};
        app.siteRoot = "@Url.Content("~/")";
    </script>
    <style>
		*:focus {
			outline: 3px dotted #0000C4 !important;
		}
    </style>
</head>
<body>
    @Html.Partial("_HeaderPartial")@*標頭*@

    <!-- main section start -->
    <section class="main container mt-4" id="main">
        <div class="row g-4">
            <div class="col-lg-8 col-xl-8 col-xxl-9 order-2 order-lg-2">
                @Html.Partial("_F1BannerPartial")@*前台Banner*@
            </div>

            <div class="col-lg-4 col-xl-4 col-xxl-3 order-1 order-lg-2 d-flex align-items-center justify-content-center">
                @Html.Partial("_F1LoginPartial")@*前台Login*@
            </div>
        </div>
    </section>
    <!-- main section end -->
    <!-- body-content -->
    <div class="body-content">
        <!-- announce section start -->
        <section class="announce mt-5">
            <div class="container d-flex flex-column flex-xl-row flex-wrap align-items-start justify-content-between px-3 py-4 p-md-5">
                @RenderBody()@*各controoler資料*@
            </div>
        </section>
        <!-- announce section end -->
    </div>

    @{
        string controller = this.ViewContext.RouteData.Values["controller"].ToString();
        string action = this.ViewContext.RouteData.Values["action"].ToString();

        if (controller.ToUpper() == "Home".ToUpper() && action.ToUpper() == "Index".ToUpper())
        {
            @*只有首頁顯示*@
            @Html.Partial("_F1SlidePartial")@*前台Slide*@
        }
    }

    @Html.Partial("_FooterPartial")@*Footer*@

    <!-- bootstrap script start -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <!-- bootstrap script end -->
    <!-- slide script start -->
    <script type="text/javascript"
            src="~/Scripts/slick/jquery-1.11.0.min.js"></script>
    <script type="text/javascript"
            src="~/Scripts/slick/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/slick/slick.min.js"></script>

    <script type="text/javascript">
        $('.regular').slick({
            autoplay: true,
            dots: true,
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 4,
            responsive: [
                {
                    breakpoint: 960,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2,
                    },
                },
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                    },
                },
            ],
        });
    </script>
    <!-- slide script end -->
</body>
</html>