@using Dou.Misc.Extension
@using Dou.Controllers

@{
    Layout = null;
}

@*@Html.DataEditContainer("xxxxx", "ooooooo", null, "col-sm-9", "col-sm-3")*@

@*<div class="col-9">
    <div class="form-group field-container " data-field="oooo">
        <label class="control-label">xxxx</label>
        <div class="field-content "></div>
    </div>
</div>*@

<div class="row">
    <div class="col-9">
        <div class="form-group field-container " data-field="CaseNo">
            <label class="control-label">加油站編號</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group field-container " data-field="Gas_Name">
            <label class="control-label">加油站名稱</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group field-container " data-field="CheckDate">
            <label class="control-label">檢查日期</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group field-container " data-field="Weather">
            <label class="control-label">天氣</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="col-9">
        <div class="form-group field-container " data-field="CheckMan">
            <label class="control-label">檢查人員</label>
            <div class="field-content "></div>
        </div>
    </div>
    <div class="border border-primary ps-3 ms-2">
        <div class="col-12">
            <p class="form-group pt-3 fs-5 text-primary font-weight-bold">                
                一、營業站屋
            </p>
        </div>
        <div class="col-9">
            <div class="form-group field-container" data-field="A01">
                <label class="control-label">檢查結果</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A01_Way">
                <label class="control-label">檢查方法</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A01_Improve">
                <label class="control-label">改善情形</label>
                <div class="field-content "></div>
            </div>
        </div>
        <div class="col-9">
            <div class="form-group field-container " data-field="A01_Note">
                <label class="control-label">備註</label>
                <div class="field-content "></div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        @Html.DataEditContainer("CaseNo", "加油站編號", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("Gas_Name", "加油站名稱", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("CheckDate", "檢查日期", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("Weather", "天氣", "0", "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("CheckMan", "檢查人員", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("A01", "檢查結果", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("A01_Way", "檢查方法", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("A01_Improve", "改善情形", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("A01_Note", "備註", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("xxxxx", "ooooooo", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("xxxxx", "ooooooo", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("xxxxx", "ooooooo", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("xxxxx", "ooooooo", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("xxxxx", "ooooooo", null, "col-sm-9", "col-sm-3")
        @Html.DataEditContainer("xxxxx", "ooooooo", null, "col-sm-9", "col-sm-3")

    </div>*@
